flask
flask-sqlalchemy
flask-restful
flask-session
flask-bcrypt
python-dotenv
flask-session
redis
flask-cors
flask-migrate
flask-jwt-extended
flask-wtf
gunicorn
psycopg2-binary
flask-migrate
sqlalchemy-serializer
